<nav class=opo-nav>
<ul>
  <li><a href="/chair/trip-overview"><img src="/static/icons/trip-icon.svg">See Trips</a>
  <li><a href="/chair/profile-approvals"><img src="/static/icons/cert-icon.svg">Approve Leader Requests</a>
</ul>
</nav>
