{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css">

{% include "common/site-nav.njk" %}
<main>

<section class="info-card">
<img src="/static/icons/mountain-icon.svg">
<h1>Explore Trips</h1>
</section>

<section class="trips">
{% for trip in trips %}
<a href=/trip/{{ trip.id }} class=trip-card>
  <img class=club-logo src="{{ trip.icon_path }}">
  <header>Trip #{{ trip.id }}</header>
  <h2>{{ trip.title }}</h2>
  <div>{{ trip.start_time_element }} - {{ trip.end_time_element }}</div>
  <div class="club-tag">{{ trip.club }}</div>
  <p>{{ trip.description }}</p>
</a>
{% endfor %}
</section>

</main>

