{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css">

{% include "common/site-nav.njk" %}
<main>

<section class="info-card">
<h1><img src="/static/icons/mountain-icon.svg">Explore Trips</h1>
<div class=view-types>
  <a class="action filter-option {% if not show_list %}selected{% endif %}" href="?view=tiles">
    <img class=club-logo src="/static/icons/grid-icon.svg">
    <span>Tiles</span>
  </a>
  <a class="action filter-option {% if show_list %}selected{% endif %}" href="?view=list">
    <img class=club-logo src="/static/icons/stack-icon.svg">
    <span>List</span>
  </a>
</div>
</section>

{% if not show_list %}
<section class="trips">
{% for trip in trips %}
<a href=/trip/{{ trip.id }} class=trip-card>
  <img class=club-logo src="{{ trip.icon_path }}">
  <header>Trip #{{ trip.id }}</header>
  <h2>{{ trip.title }}</h2>
  <div>{{ trip.time_element }}</div>
  <div class="club-tag">{{ trip.club }}</div>
  <p>{{ trip.description }}</p>
</a>
{% endfor %}
</section>
{% else %}
<section class=info-card>
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
  <thead>
    <tr><th>Trip #<th>Trip<th>Time<th>Owner<th>Club
  </thead>
  <tbody>
  {% for trip in trips %}
    <tr>
    <td>{{trip.id}}
    <td><a href="/leader/trip/{{trip.id}}">{{trip.title}}</a>
    <td>{{trip.time_element}}
    <td>{{trip.owner}}
    <td>{{trip.club}}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</section>
{% endif%}
</main>

