{% include "common/site-head.njk" %}
<title>Create Trip - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/trip-form.css">

{% include "common/site-nav.njk" %}

<main>
<a href="/my-trips" class=top-link>Back to trips page</a>
{% include "trip/trip-form.njk" %}
</main>
