{% include "common/site-head.njk" %}
<title>My Profile - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/profile.css">

{% include "common/site-nav.njk" %}

<main>
{% include "profile/profile-card.njk" %}
</main>

