{% include "common/site-head.njk" %}
<title>Vehicle Request - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/trip.css">

{% include "common/site-nav.njk" %}
<main>
<section class=info-card>
{% include "requests/vehicle-request-table.njk" %}
</section>
</main>

