{% include "common/site-head.njk" %}
<title>DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/index.css">

<section id=login>
<div class=login-card>
<div><img src="/static/icons/tree-icon.svg" alt="Vector image of a few trees"></div>
<h2>Hello Traveler!</h2>
<p>Welcome to Trailhead, the Dartmouth Outing Club and Outdoor Programs Office's digital platform.
Come and find some upcoming hikes to Balch Hill or visits to the Norwich farmer's market. On
Trailhead you can browse trips, sort by date, activity, or required experience, and create and
publish your own trips as a leader. See you in the out o’ doors!
<form action="/signin-cas"><button>Enter Trailhead via SSO</button></form>
{% if NODE_ENV === 'development' %}
<form method=POST action="/dev-login"><button>Login as developer</button></form>
{% endif %}
</div>
</section>

<section id=up-next>
<h1>Up Next</h1>
{% for trip in trips %}
<div class=trip-card>
  <img class=club-logo src="{{trip.iconPath}}">
  <h2>{{trip.title}}</h2>
  <hr/>
  <div>
    <h3>{{trip.location}}</h3>
    <p>{{trip.datetime_range}}</p>
  </div>
</div>
{% endfor %}
</section>
