Hello,

Your [Trip #{{ trip.id }}: {{ trip.title }}], was due back at {{ trip.scheduledReturn }} and has not yet checked back in from Hanover. We have informed OPO staff about your status. Trip details can be found at: {{ constants.frontendURL }}/trip/{{ trip.id }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
