Hello,

Your [Trip #{{ trip.id }}: {{ trip.title }}] is now 90 minutes late. It was scheduled to return at
{{ trip.scheduledReturn }}. OPO will be notified in the next 90 minutes if your trip is not back in Hanover. If you are having difficulties getting back, please follow the DOC Emergency Protocols found here:

https://docs.google.com/forms/u/1/d/e/1FAIpQLSeo9jIcTGNstZ1uADtovDjJT8kkPtS-YpRwzJC2MZkVkbH0hw/viewform.

IMPORTANT: right after you return, you must check-in all attendees here: {{ constants.frontendURL }}/trip/{{ trip.id }}/check-in

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
