Hello {{ user.name }},

Congrats - you've been made a co-leader for [Trip #{{ trip.id }}: {{ trip.title }}] 👏. You can reach the trip leader at {{ ownerEmail }}.

You can view the trip at {{ constants.frontendURL }}/trip/{{ trip.id }}

Stay Crunchy 🏞,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
