Hello,

Trippee {{ info.name }} for [Trip #{{ tripId }}: {{ info.title }}] changed their gear requests. You can reach them at {{ info.email }}.

View the change here: {{ constants.ORIGIN }}/trip/{{ tripId }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
