Hello,

Trip #{{ trip.id }}: {{ trip.title }}'s gear requests had been originally approved, but they recently made changes to their trippee gear requests because a new trippee was admitted to the trip.

Please re-evaluate their request at: {{ constants.frontendURL }}/approve-trip/{{ trip.id }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
