Hello,

Trip #{{ trip.id }}: {{ trip.title }}, was was marked as LATE, has now been marked as {{
returnedText }} returned by the leader. Trip details can be found at: {{ constants.frontendURL }}/trip/{{ trip.id }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
