Hello,

You've created a new Trip #{{ trip.id }}: {{ trip.title }}! You will receive email notifications when trippees sign up.

View the trip here: {{ constants.ORIGIN }}/trip/{{ trip.id }}

Here is a mobile-friendly 📱 URL (open it on your phone) for you to mark all attendees before you leave: {{ constants.ORIGIN }}/trip/{{ trip.id }}/check-out

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
