Hello,

Your [Trip #{{ trip.id }}: {{ trip.title }}]'s trippee (not group) gear requests was originally approved by OPO staff, but since a new trippee was admitted who requested additional gear, it has automatically been sent back to review to OPO staff to ensure we have enough.
Currently, your trip's status has been changed back to pending, and you should await re-approval before heading out.

View the trip here: {{ constants.frontendURL }}/trip/{{ trip.id }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
