Hello {{ info.name }},

You've applied to go on [Trip #{{ tripId }}: {{ info.title }}]. However, this does not mean you have been approved for the trip. If you chose to no longer go on the trip, you can still remove yourself from the waitlist. Only once you receive an email about getting approved for this trip can you attend.

View the trip here: {{ constants.ORIGIN }}/trip/{{ tripId }}

You can reach the trip leader at {{ info.owner_email }}.

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
