Hello {{ user.name }},

You've been approved for [Trip #{{ trip.id }}: {{ trip.title }}]! 🎉

View the trip here: {{ constants.ORIGIN }}/trip/{{ trip.id }}

You can reach the trip leader at {{ ownerEmail }}.

If you know you cannot make it, please drop the trip on Trailhead as soon as possible. Leaders will appreciate it if you drop early, and it allows people on the waitlist to get on the trip. Thank you!

Stay Crunchy 🏔,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
