Hello,

The Trip #{{ id }}: {{ title }} which you have been signed up for (or requested to be on) has been deleted. The original trip leader can be reached at {{ ownerEmail }}.

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
