Hello,

Your approved trippee {{ user.name }} for [Trip #{{ tripId }}: {{ trip.title }}] cancelled for this trip 🙁. You can reach them at {{ user.email }}.

View the trip here: {{ constants.ORIGIN }}/trip/{{ trip.id }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
