Hello,

Your [V-Req #{{ vehicleRequestId }}] has been denied by OPO staff.

View the v-request here: {{ constants.frontendURL }}/vehicle-request/{{ vehicleRequestId }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
