Hello,

Your vehicle request for trip #{{ tripId }}has been processed (or changed) by OPO staff. It may have been approved at your requested time, or at a different time assigned by OPO. Therefore, it is important for you to review it here: {{ constants.ORIGIN }}/trip/{{ tripId }}

Best,
DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
