Hello,

The leaders of V-Req #{{ vehicleRequest.id }} (which was approved) just changed their requested vehicles. The original vehicle assignments have all been unscheduled.

You will have to approve this request again at {{ constants.frontendURL }}/trip/{{ tripId }}.

Best, DOC Trailhead Platform

This email was generated with 💚 by the Trailhead-bot 🤖, but it cannot respond to your replies.
