.controls {
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 img {
  margin-right: 10px;
}

.view-types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.view-types .control-icon {
  height: 18px;
  width: 18px;
}

a.filter-option {
  border: 1px solid lightgray;
  color: black;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  vertical-align: center;
}

a.filter-option.selected {
  background-color: var(--background-gray);
}

a.filter-option img {
  margin-right: 5px;
  vertical-align: sub; /* No great reason for this other than that it looks the best */
}

section.trips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

a.trip-card {
  color: inherit;
  text-decoration: none;
}

.trip-card:hover {
  filter: brightness(80%);
}

.trip-card {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,.25);
  height: 370px;
  width: 310px;
  margin: 15px;
  padding: 15px;
  position: relative;
}

.trip-card > * {
  margin: 10px 0;
}

.trip-card img.club-logo {
  opacity: 0.07;
  transform: rotate(28.1187deg);
  height: 130px;
  width: 130px;
  right: 5px;
  position: absolute;
  z-index: 1;
}

.trip-card h2 {
  word-wrap: break-word;
}

.trip-card header  {
  color: var(--secondary-info-color);
}

.new-trip {
  border: 3px dashed var(--secondary-info-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-trip h2 {
  color: var(--secondary-info-color);
}


label {
  font-size: 1.1rem;
}

label > span {
  font-weight: bold;
}

input[type=search] {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: .25em;
  margin: 0 0 15px 10px;
}

form button.approve {
  padding: .25rem .5rem;
}

@media screen and (min-width: 600px) {
  .controls {
    flex-direction: row;
    margin-bottom: 40px;
  }

  h1 {
    margin: 20px;
  }
}
