.controls {
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 img {
  margin-right: 10px;
}

.view-types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.view-types .control-icon {
  height: 18px;
  width: 18px;
}

a.filter-option {
  border: 1px solid lightgray;
  color: black;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  vertical-align: center;
}

a.filter-option.selected {
  background-color: var(--background-gray);
}

a.filter-option img {
  margin-right: 5px;
  vertical-align: sub; /* No great reason for this other than that it looks the best */
}

section.trips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

a.trip-card {
  color: inherit;
  text-decoration: none;
}

.trip-card:hover {
  filter: brightness(80%);
}

.trip-card {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,.25);
  height: 370px;
  width: 310px;
  margin: 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.trip-card-content {
  height: 100%;
  overflow: hidden;
}

.trip-card h2, .trip-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.trip-card h2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.trip-card p {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.trip-card-content > * {
  margin: 10px 0;
}

.trip-card img.club-logo {
  opacity: 0.07;
  transform: rotate(28.1187deg);
  height: 130px;
  width: 130px;
  right: 10px;
  position: absolute;
  z-index: 1;
}

.trip-card header  {
  color: var(--secondary-info-color);
}

.new-trip {
  border: 3px dashed var(--secondary-info-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-trip h2 {
  color: var(--secondary-info-color);
}


label {
  font-size: 1.1rem;
}

label > span {
  font-weight: bold;
}

input[type=search] {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: .25em;
  margin: 0 0 15px 10px;
}

.filters {
  margin-right: 2em;
}

.filters label {
  margin: 10px 0;
  font-weight: bold;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: .5em;
}

.filters input {
  font-size: 1.1em;
}

.filters input[type=checkbox] {
  height: 1.2em;
  width: 1.2em;
}

form button.approve {
  padding: .25rem .5rem;
}

@media screen and (min-width: 600px) {
  .controls {
    flex-direction: row;
    margin-bottom: 40px;
  }

  h1 {
    margin: 20px;
  }
}

.my-trips-nav {
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
}

.my-trips-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.my-trips-nav li {
  align-items: center;
  border-bottom-color: white; /* Changing the border color keeps the box from shifting on hover */
  border-bottom-style: solid;
  border-bottom-width: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  text-align: center;
}

.my-trips-nav img {
  padding-right: 20px;
  width: 24px;
}

.my-trips-nav a {
  display: block;
  padding: 30px 25px 25px 25px; /* Additional 5px on top to compensate for the bottom border */
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.my-trips-nav li:hover, .my-trips li.selected {
  border-bottom-color: var(--approval-main-color);
}

.my-trips li:hover > a, .my-trips li.selected > a {
  color: var(--approval-main-color);
}
