@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('/static/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans Bold';
  font-style: normal;
  src: url('/static/fonts/NunitoSans-Bold.ttf') format('truetype');
}

html {
  font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}

body {
  background-color: rgb(237, 237, 237);
  margin: 0;
}

main {
  padding: 30px 20px;
}

main > .info-card, main > .trip-card {
  margin: 0px auto 70px auto;
}

h1, h2, h3 {
  color: rgb(3, 55, 36);
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

p.user-text {
  white-space: pre-line;
}

input:not([type=checkbox]):focus, select:focus, textarea:focus {
  outline: 3px solid #0ca074;
}

input[type=checkbox]:hover {
  accent-color: rgba(182,236,175,.658);
}

input[type=checkbox]:checked {
  accent-color: #0ca074;
}

button.action, a.action {
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  font-size: 1.1em;
  padding: .5em 1em;
  margin-right: 20px;
}

a.action {
  text-decoration: none;
}

button.approve, a.approve {
  background-color: #0ca074;
  border-color: #0ca074;
}

button.remove, a.remove {
  background-color: white;
  border: 2px solid #ee6e52;
  color: #ee6e52;
}

button.deny, a.deny {
  background-color: #ee6e52;
  border-color: #ee6e52;
}

button.edit, a.edit {
  color: #0ca074;
  background-color: white;
  border: 2px solid #0ca074;
}

button.demote, a.demote {
  color: #ee6e52;
  background-color: white;
  border: 2px solid #ee6e52;
}

button.action[disabled],
button.action[disabled]:hover,
a.action:not([href]) {
  border-color: gray;
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

button.approve:hover, button.deny:hover {
  filter: brightness(110%);
}

button.edit:hover {
  background-color: #e6f5f1;
}

button.demote:hover {
  background-color: #fdf0ed;
}

/** Must come after the other button hovers so that it takes precendence */
{
  background-color: gray;
  filter: none;
}

a.top-link {
  color: rgb(3, 55, 36);
  margin: 10px;
  display: block;
  font-size: 1.1em;
}

a.top-link:visited {
  color: inherit;
}

.error-message {
  padding: 20px;
  background-color: red;
}

.hidden {
  display: none;
}

.site-nav {
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  background-size: cover;
  background-image: url('/static/images/nav-background.svg');
  font-size: 20px;
}

.site-nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.site-nav a {
  display: block;
  text-decoration: none;
  padding: 20px 15px;
  color: white;
}

.site-nav a:hover, .site-nav a.selected {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.info-card {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.25);
  max-width: 1200px;
  padding: 10px 20px 10px 20px;
}

.trip-table {
  border-collapse: collapse;
  overflow-x: scroll;
  width: 100%;
  text-align: center;
}

.trip-table button {
  margin-top: 0;
}

.trip-table img.badge {
  height: 36px;
  width: 36px;
}

.trip-table th {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.trip-table th, .trip-table td {
  min-width: 105px;
  padding: 10px 0px;
}

.trip-table tr:not(:last-child) td {
  border-bottom-color: #535658;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.trip-table tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.notice {
  color: #909090;
  font-size: 1.2em;
  margin: 20px 0px;
  width: fit-content;
}

.club-tag, .status-tag {
  background-color: #e5cdbe;
  border-radius: 5px;
  padding: 3.5px 7px;
  width: fit-content;
}

.status-tag.not-left {
  background-color: lightgray;
}

.status-tag.left {
  background-color: #F0E784;
}

.status-tag.late {
  background-color: #FA6F6F;
}

.status-tag.returned {
  background-color: #A1F0A3;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .site-nav {
    background-size: unset;
    height: 80px;
  }
}
