@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans Bold';
  font-style: normal;
  src: url('/fonts/NunitoSans-Bold.ttf') format('truetype');
}

html {
  font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

main {
  padding: 0px 20px;
}

h1, h2 {
  color: rgb(3, 55, 36);
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

.site-nav {
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  background-image: url('/images/nav-background.svg');
  font-size: 1.2em;
}

.site-nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.site-nav li {
  padding: 20px 15px;
}

.site-nav li:hover > a, .site-nav li.selected > a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.site-nav a {
  text-decoration: none;
  color: white;
}

.info-card {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.25);
  max-width: 1200px;
}

