body {
  background-color: rgb(237, 237, 237)
}

.opo-nav {
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.25);
}

.opo-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.opo-nav li {
  align-items: center;
  border-bottom-color: white; /* Changing the border color keeps the box from shifting on hover */
  border-bottom-style: solid;
  border-bottom-width: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  padding: 30px 25px 25px 25px; /* Additional 5px on top to compensate for the bottom border */
  text-align: center;
}

.opo-nav img {
  padding-right: 20px;
  width: 24px;
}

.opo-nav a {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.opo-nav li:hover, .opo-nav li.selected {
  border-bottom-color: rgb(12, 160, 116);
}

.opo-nav li:hover > a, .opo-nav li.selected > a {
  color: #0ca074;
}

