body {
  background-color: rgb(237, 237, 237);
}

.opo-nav {
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.25);
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
}

.opo-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.opo-nav li {
  align-items: center;
  border-bottom-color: white; /* Changing the border color keeps the box from shifting on hover */
  border-bottom-style: solid;
  border-bottom-width: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  text-align: center;
}

.opo-nav img {
  padding-right: 20px;
  width: 24px;
}

.opo-nav a {
  display: block;
  padding: 30px 25px 25px 25px; /* Additional 5px on top to compensate for the bottom border */
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.opo-nav li:hover, .opo-nav li.selected {
  border-bottom-color: rgb(12, 160, 116);
}

.opo-nav li:hover > a, .opo-nav li.selected > a {
  color: #0ca074;
}

img.badge {
  height: 36px;
  width: 36px;
}

.info-card {
  max-width: 2000px;
  padding: 10px 20px 10px 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

table {
  border-collapse: collapse;
  overflow-x: scroll;
  /* min-width: 1200px; */
  width: 100%;
  text-align: center;
}

th, td {
  min-width: 105px;
  padding: 10px 0px;
}

tbody tr:hover {
  background-color: rgba(0,0,0,.075);
}

tr th {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

tr:not(:last-child) td {
  border-bottom-color: #535658;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

table button {
  border: 0;
  border-radius: 6px;
  color: white;
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
  font-size: 1.1em;
  padding: .5em 1em;
}

table button:last-child {
  margin-right: 15px;
}

button.approve {
  background-color: #0ca074;
}

button.deny {
  background-color: #ee6e52;
}

.notice {
  color: #909090;
  font-size: 1.2em;
  margin: 20px 0px;
  width: fit-content;
}

.leaders td:last-child, .certs td:last-child {
  text-align: right;
}
