label, div.form-info {
  display: block;
  margin: 10px;
}

form {
  font-size: 1.1em;
  color: var(--heading-main-color);
}

label.block {
  display: block;
}

label.block > * {
  align-self: flex-end;
  display: block;
  width: 90%;
  font-size: 1.1em;
}

input, textarea, select {
  border-radius: 6px;
  border: 1px solid gray;
  padding: 7px;
  margin-top: 0.1rem;
}

textarea {
  box-sizing: border-box;
  height: 6em;
  font-size: 1.1em;
  width: 100%;
  resize: vertical;
}

#mileage-input {
  -webkit-appearance: none;   
  -moz-appearance: textfield;
}

input[type=checkbox] {
  display: inline-block;
  height: 20px;
  width: 20px;
}

button.remove {
  margin: 10px;
  font-size: 1em;
  padding: .25em .5em;
}

main > .info-card {
  margin: 0px auto 30px auto;
}

a.top-link {
  margin: 10px auto;
  max-width: 1250px;
}

.button-row {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.close-button {
  background: none;
  border: none;
}

.close-button img {
  height: 15px;
}


.gear-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gear-row > * {
  margin-right: 10px;
}

.number-row {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
