section header {
  color: rgb(144, 144, 144);
}

h1 {
  margin: 5px 0;
}

.info-card {
  padding: 20px;
}

.trip-table {
  border: 3px solid #c4c4c4;
  text-align: left;
}

.trip-table th, .trip-table td {
  padding: 10px;
}

.trip-table ul {
  margin: 0;
  padding: 0;
}

.trip-table button {
  margin: 10px 0;
  width: 150px;
}

.trip-table td:last-child {
  text-align: right;
}

.status-row {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.status-row .club-tag {
  margin-right: 20px;
}

img.badge {
  height: 36px;
  width: 36px;
}

.dual-table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dual-table-container > * {
  flex: 1 1 0;
  min-width: 350px;
  margin: 15px;
}

.detail-table {
  border: 2px solid #c4c4c4;
  width: 100%;
}

.detail-table tr {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.detail-table tr:last-child {
  border: 0;
}

.detail-table th {
  margin-right: 30px;
  text-align: left;
}

.detail-table td {
  color: #909090;
  padding: 0;
  text-align: right;
}

.detail-table.gear {
  margin: 0;
}

.detail-table.gear th {
  font-weight: normal;
}

.table-status-row {
  display: flex;
  align-items: center;
}

.table-status-row h2 {
  margin-right: 20px;
  display: inline;
}

.vehicle-table dt {
  color: rgb(3, 55, 36);
  display: inline;
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
}

.vehicle-table dt::after {
    content: ": ";
}

.vehicle-table dd {
  display: inline;
}

.vehicle-table dd::after {
  content: "";
  display: block;
}

button.delete-trip {
  display: block;
}

@media screen and (min-width: 800px) {
  .info-card {
    padding: 40px;
  }
}
