section header {
  color: var(--secondary-info-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.share-template-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.share-button {
  height: 1.5rem;
}

h1 {
  margin: 5px 0;
}

.info-card {
  padding: 20px;
}

section {
  margin: 40px 0;
}

.trip-table {
  border: 3px solid #c4c4c4;
  text-align: left;
}

.trip-table th, .trip-table td {
  padding: 10px;
}

.trip-table ul {
  margin: 0;
  padding: 0;
}

.trip-table button {
  margin: 10px 0;
  width: 150px;
}

.trip-table td:last-child {
  text-align: right;
}

.trip-table tr.leader-row {
  background-color: var(--selection-accent-color);
}

.status-row {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.status-row > * {
  margin-right: 20px;
}

img.badge {
  height: 36px;
  width: 36px;
}

.dual-table-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.dual-table-container > * {
  flex: 1 1 0;
  min-width: 300px;
  margin: 0 15px;
}

.detail-table {
  border: 2px solid #c4c4c4;
  width: 100%;
}

.detail-table tr {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.detail-table tr:last-child {
  border: 0;
}

.detail-table th {
  margin-right: 30px;
  text-align: left;
}

.detail-table td {
  color: var(--warning-background-color);
  padding: 0;
  text-align: right;
}

.detail-table.gear {
  margin: 0;
}

.detail-table.gear th {
  font-weight: normal;
}

/* .detail-table.gear tr.summary { */
/*   background-color: gray; */
/* } */

.gear-requests-header {
  display: flex;
  justify-content: space-between;
}

.gear-requests-header a {
  display: block;
  align-self: center;
}

.table-status-row {
  display: flex;
  align-items: center;
}

.table-status-row h2, .table-status-row h3 {
  margin-right: 20px;
  display: inline;
}

.vehicle-table dt {
  color: var(--heading-main-color);
  display: inline;
  font-family: 'Nunito Sans Bold', 'Open Sans', sans-serif;
}

.vehicle-table dt::after {
    content: ": ";
}

.vehicle-table dd {
  display: inline;
}

.vehicle-table dd::after {
  content: "";
  display: block;
}

.edit-row {
  margin-top: 15px;
}

.edit-row button {
  margin-right: 15px;
}

.user-text {
  border: 2px solid #c4c4c4;
  margin: 0 15px;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  .info-card {
    padding: 40px;
  }
}
