section header {
  color: rgb(144, 144, 144);
}

h1 {
  margin: 5px 0;
}

.info-card {
  padding: 40px;
}

.action-row {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.action-row .club-tag {
  margin-right: 10px;
}

.action-row img.badge {
  height: 36px;
  width: 36px;
}

.dual-table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-table {
  border: 2px solid #c4c4c4;
  min-width: 350px;
  margin: 15px;
  flex: 1 1 0;
}

.detail-table tr {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.detail-table tr:last-child {
  border: 0;
}

.detail-table td {
  color: #909090;
  padding: 0;
  text-align: right;
}
