.info-card {
  margin-top: 20px;
  max-width: 800px;
}

form {
  font-size: 1.1em;
  color: var(--heading-main-color);
}

form p.form-info {
  margin: 10px;
}

label {
  display: block;
  margin: 10px;
}

label > * {
  align-self: flex-end;
  display: block;
  width: 90%;
  font-size: 1.1em;
}

label.block {
  display: block;
}

input, textarea, select {
  border-radius: 6px;
  border: 1px solid gray;
  padding: 7px;
}

button#add-leader {
  margin: 10px;
}

a.top-link {
  margin: 0px auto 30px auto;
  max-width: 830px;
}

.existing-leaders {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.additional-leader-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.additional-leader-row button {
  border: none;
  background-color: white;
  margin-left: 10px;
}

.additional-leader-row input {
  flex-grow: 1;
}

.additional-leader-row img {
  flex-grow: 0;
  width: 20px;
}

select {
  background: white;
  box-sizing: content-box;
}

input[type=number] {
  width: 4em;
}

input[type=checkbox] {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
}

textarea {
  font-size: 1em;
  resize: vertical;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 800px) {
  label {
    display: flex;
    justify-content: space-between;
  }

  label > input[type=datetime-local] {
    width: fit-content;
  }

  label > input[type=text], label > select {
    width: 50%;
  }

  button#add-leader {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }

  .additional-leader-row {
    width: 50%;
  }

}
