<!DOCTYPE html>
<html lang=en>
<title>Home - DOC Trailhead</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/approvals.css">
<script src="https://unpkg.com/htmx.org@1.8.4"></script>

<nav class=site-nav>
<ul>
  <li class="selected"><a href="/opo/trip-approvals.html">Approvals</a>
  <li><a href="/opo/calendar.html">Calendar</a>
  <li><a href="/opo/manage-fleet.html">Fleet</a>
  <li><a href="/all-trips.html">All Trips</a>
  <li><a href="/my-trips.html">My Trips</a>
  <li><a href="/profile.html">Profile</a>
</ul>
</nav>

<nav class=opo-nav>
<ul>
  <li class="selected"><a href="/opo/trip-approvals.html"><img src="/icons/trip-icon.svg">Trip Approvals</a>
  <li><a href="/opo/vehicle-requests.html"><img src="/icons/vehicle-icon.svg">Vehicle Requests</a>
  <li><a href="/opo/profile-approvals.html"><img src="/icons/cert-icon.svg">Profile Approvals</a>
</ul>
</nav>

<main>

<section class="pending info-card">
<h1>Pending Trips</h1>
<table class=trip-table>
<thead><tr>
  <th>Trip</th>
  <th>Start Time</th>
  <th>Subclub</th>
  <th>Owner</th>
  <th>Group Gear</th>
  <th>Vehicles</th>
  <th>P-Card</th>
</tr></thead>
<tbody hx-get="/rest/opo/trip-approvals" hx-trigger="load" hx-swap="innerHTML">
</table>
</section>

<section class="past info-card">
<h1>Reviewed & Past Trips</h1>
<table class=trip-table>
<thead><tr>
  <th>Trip</th>
  <th>Start Time</th>
  <th>Subclub</th>
  <th>Owner</th>
  <th>Group Gear</th>
  <th>Vehicles</th>
  <th>P-Card</th>
</tr></thead>
<tbody hx-get="/rest/opo/trip-approvals?show_past=true" hx-trigger="load" hx-swap="innerHTML">
</table>
</section>

</main>

