<section id=trips class=trips>
  {% for trip in trips %}
    <a href=/trip/{{ trip.id }} class=trip-card>
      <div class=trip-card-content>
        <img class=club-logo src="{{ trip.icon_path | safe }}">
        <header>Trip #{{ trip.id }}</header>
        <h2>{{ trip.title }}</h2>
        <div>{{ trip.time_element | safe }}</div>
        <div class="club-tag">{{ trip.club }}</div>
        <p>{{ trip.description }}</p>
      </div>
    </a>
  {% else %}
    <h1>😕 No trips found</h1>
  {% endfor %}
</section>