<div class=info-card>

<header>
  <div>Trip #{{ trip_id }}</div>
  <button id=share-link class="share-button" onclick="copyLink()">Copy Link &#128279;</button>
</header>

<h1>{{ title }}</h1>
<div class=status-row>
  <div class="club-tag">{{ club }}</div>
  {{ status_tag | safe }}
  {{ full_gear_status_badge | safe }}
</div>

<p>
You are currently viewing this trip as a leader.
<a href="/trip/{{ trip_id }}">Click here to see the trip signup page.</a>
</p>

{% if is_leader_for_trip %}
<section>
<h2>Check-In and Check-Out</h2>
<p>It is very important to alert the Outdoor Programs Office that your trip is leaving and returning
on time. 48 hours before trip-start you can begin checking out your trip.
<div class=button-row>
  <a class="action approve"
     {% if check_out_enabled %}href="/trip/{{trip_id}}/check-out"{% endif %}
     >Check-Out
  </a>
    <a
     class="action approve"
     {% if check_in_enabled %}href="/trip/{{trip_id}}/check-in"{% endif %}
     >Check-In
  </a>
</div>
</section>
{% endif %}

<section>
<h2>Description</h2>
<p class=user-text>{{ description }}</p>

<h2>Details</h2>
<div class=dual-table-container>
<table class=detail-table>
  <tr><th>Start<td>{{ start_time_element | safe }}
  <tr><th>End<td>{{ end_time_element | safe }}
  <tr><th>Pickup<td>{{ pickup }}
  <tr><th>Dropoff<td>{{ dropoff }}
  <tr><th>Destination<td>{{ location }}
  <tr><th>Private<td>{{ "Yes" if private else "No"}}
</table>
<table class=detail-table>
  <tr><th>Leader<td>{{ owner_name }}
  <tr><th>Co-Leader(s)<td>{{ leader_names }}
  <tr><th>Experience needed?<td>{{ experience_needed }}
  <tr><th>Subclub<td>{{ club }}
  <tr><th>Cost<td>{{ cost }}
  <tr><th><td>
</table>
</div>
</section>

<section>
<h2>Trip Plan</h2>
<div class=notice>The Trip Plan is only visible to trip leaders and OPO.</div>
{% if plan %}
<p class=user-text>{{ plan }}</p>
{% else %}
<p class=notice>No trip plan set yet.</p>
{% endif %}
</section>

<section>
<h2>Approved trippees ({{ attending.length }})</h2>
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
<thead>
<tr>
  <th>Name
  {% if left === 1 %}<th>Attended{% endif %}
  <th>Signed up on
  <th>Allergies/Dietary Restrictions
  <th>Medical Conditions
  <th>Gear Requests
  <th>
</tr>
<tbody>
{% for member in attending %}
<tr {% if member.leader === 1%}class="leader-row"{% endif %}>
  <td><a href="/trip/{{trip_id}}/user/{{member.id}}">{{ member.name }}</a>
  {% if left === 1 %}<td>{{ member.attended }}{% endif %}
  <td>{{ member.time_element | safe if member.signed_up_on else "N/A" }}
  <td>{{ member.allergies_dietary_restrictions }}
  <td>{{ member.medical_conditions }}
  <td>
    <ul>
      {% for gear in member.requested_gear %}
      <li>{{ gear.name }}
      {% endfor %}
    </ul>
  </td>
  <td>
    <div class=member-buttons-container>
      <button class="action edit"
              hx-put="/trip/{{ trip_id }}/waitlist/{{ member.id }}"
              {% if member.id === owner %}disabled{% endif %}
              >Un-admit</button>
      {% if member.leader === 1 %}
      <button class="action demote"
              hx-delete="/trip/{{ trip_id }}/leader/{{ member.id }}"
              {% if member.id === owner %}disabled{% endif %}
              >Make trippee
      </button>
      {% else %}
      <button class="action edit" hx-put="/trip/{{ trip_id }}/leader/{{ member.id }}">Make leader</button>
      {% endif %}
    </div>
</tr>
{% endfor %}
</table>
</div>
<div class=button-row>
    <button id=copy-attending-emails class="action edit" onclick="copyAttendingEmails()">Copy Emails</button>
</div>
</section>

<section>
<h2>Pending trippes ({{ pending.length }})</h2>
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
<thead>
<tr>
  <th>Name
  <th>Signed up on
  <th>Allergies/Dietary Restrictions
  <th>Medical Conditions
  <th>Gear Requests
  <th>
</tr>
<tbody>
{% for member in pending %}
<tr>
  <td><a href="/trip/{{trip_id}}/user/{{member.id}}">{{ member.name }}</a>
  <td>{{ member.time_element | safe if member.signed_up_on else "N/A" }}
  <td>{{ member.allergies_dietary_restrictions }}
  <td>{{ member.medical_conditions }}
  <td>
    <ul>
      {% for gear in member.requested_gear %}
      <li>{{ gear.name }}
      {% endfor %}
    </ul>
  </td>
  <td>
    <div class=member-buttons-container>
      <button class="action edit"
              hx-put="/trip/{{ trip_id }}/member/{{ member.id }}"
              {% if member_gear_approved === 1 %}
              hx-confirm="Your gear request has already been approved; if {{ member.name }} requested any additional gear, accepting them onto the trip will cause the gear request to be un-approved, and sent back to OPO."
              {% endif %}
              >Admit</button>
      <button class="action edit"
              hx-delete="/trip/{{ trip_id }}/member/{{ member.id }}"
              hx-confirm="Are you sure you want to reject {{ member.name }}? Keep in mind that doing so will also remove their gear request."
              >Reject</button>
    </div>
</tr>
{% endfor %}
</table>
</div>
<div class=button-row>
  <button id=copy-pending-emails class="action edit" onclick="copyPendingEmails()">Copy Emails</button>
</div>
</section>

<section>
<div class=gear-requests-header>
  <h2>Gear Requests</h2>
  <a href="/trip/{{ trip_id }}/gear/print">Print</a>
</div>
<div class=dual-table-container>
<div>
  <div class=table-status-row><h3>Individual Gear</h3>{{ member_gear_status | safe }}</div>
  <table class="detail-table gear">
    {% for item in member_requested_gear %}
    <tr><th>{{ item.name }}<td>{{ item.quantity }}
    {% endfor %}
  </table>
  <p class=notice>
  Note: this only includes the gear request of trippees that have been admitted.
  Admitting additional trippees will change the request.
  </p>
  {% if show_member_gear_approval_buttons %}
  <div class=button-row>
    <button class="action deny" hx-put="/opo/member-gear/{{ trip_id }}/deny">Deny</button>
    {% if member_gear_approved === 1 %}
    <button class="action edit" hx-put="/opo/member-gear/{{ trip_id }}/reset">Reset</button>
    {% else %}
    <button class="action approve" hx-put="/opo/member-gear/{{ trip_id }}/approve">Approve</button>
    {% endif %}
  </div>
  {% endif %}
</div>
<div>
  <div class=table-status-row><h3>Group Gear</h3>{{ group_gear_status | safe }}</div>
  <table class="detail-table gear">
    {% for item in group_gear %}
    <tr><th>{{ item.name }}<td>{{ item.quantity }}
    {% endfor %}
  </table>
  {% if show_group_gear_approval_buttons %}
  <div class=button-row>
    <button class="action deny" hx-put="/opo/group-gear/{{ trip_id }}/deny">Deny</button>
    {% if group_gear_approved === 1 %}
    <button class="action edit" hx-put="/opo/group-gear/{{ trip_id }}/reset">Reset</button>
    {% else %}
    <button class="action approve" hx-put="/opo/group-gear/{{ trip_id }}/approve">Approve</button>
    {% endif %}
  </div>
  {% endif %}
  </div>
</div>
</section>

{%if pcard_request %}
<section>
  <div class=table-status-row><h2>P-Card Request</h2>{{ pcard_request.status | safe }}</div>
  <p>Expected # of Participants: {{ pcard_request.num_people }}
  <table class="detail-table gear">
    <tr><th>Snacks ({{ pcard_request.snacks_num }})<td>${{ pcard_request.snack_cost }}
    <tr><th>Breakfast ({{ pcard_request.breakfast_num }})<td>${{ pcard_request.breakfast_cost }}
    <tr><th>Lunch ({{ pcard_request.lunch_num }})<td>${{ pcard_request.lunch_cost }}
    <tr><th>Dinner ({{ pcard_request.dinner_num }})<td>${{ pcard_request.dinner_cost }}
    {% for request in pcard_request.other_costs %}
    <tr><th>{{ request.name }}<td>${{ request.cost }}
    {% endfor %}
    <tr class=summary><th>Total<td>${{ pcard_request.total }}
  </table>
  {% if show_pcard_approval_buttons %}
  <form hx-put="/opo/pcard/{{ trip_id }}/approve">
    <label>Assigned P-Card:
      <input name=assigned_pcard
             type=text
             value="{{ pcard_request.assigned_pcard }}"
             {% if pcard_request.is_approved === 1 %}disabled{%endif%}
             >
    </label>
    <div class=button-row>
      <button class="action deny" hx-put="/opo/pcard/{{ trip_id }}/deny">Deny</button>
      {% if pcard_request.is_approved === 1 %}
      <button class="action edit" hx-put="/opo/pcard/{{ trip_id }}/reset">Reset</button>
      {% else %}
      <button class="action approve" type=submit>Approve</button>
      {% endif %}
    </div>
  </form>
  {% else %}
  <p>Assigned P-Card: {{ pcard_request.assigned_pcard }}</p>
  {% endif %}
<section>
{% endif %}

{%if vehiclerequest_id %}
<section>
{% include "requests/vehicle-request-table.njk" %}
</section>
{% endif %}

<section>
<h2>Modify Trip</h2>
<div class="edit-row">
  <a class="action edit" href="/trip/{{ trip_id }}/edit">Edit Trip</a>
  <a class="action edit" href="/trip/{{ trip_id }}/requests">Edit Requests</a>
</div>
</section>

{% if can_delete %}
<section>
<h2>Delete Trip</h2>
<p>Click this checkbox to enable the delete button:
<input type=checkbox autocomplete=off onchange="toggleDeleteButton(this)">
<div class="edit-row">
<button
    class="action deny delete-trip"
    disabled
    autocomplete=off
    hx-delete="/trip/{{ trip_id }}"
    hx-confirm="Are you sure you want to delete trip {{ title }}? Keep in mind that this will delete the associated vehicle request. This action cannot be reversed."
    >Delete Trip
</button>
</section>
{% endif %}

</div>

<script id="attending-emails" type="text/plain" data-emails="{{ attending_emails_list }}"></script>
<script id="pending-emails" type="text/plain" data-emails="{{ pending_emails_list }}"></script>

<script>
function toggleDeleteButton(checkbox) {
  const button = document.querySelector('.delete-trip')
  button.disabled = !checkbox.checked
}

async function copyLink() {
  const button = document.getElementById('share-link')
  const previousText = button.innerText
  const domain = window.location.origin
  navigator.clipboard.writeText(`${domain}/trip/{{trip_id}}`)
  button.innerText = 'Link Copied!'
  setTimeout(() => button.innerText = previousText, 1000)
}

async function copyAttendingEmails() {
  const emails = document.getElementById('attending-emails').getAttribute('data-emails')
  const button = document.getElementById('copy-attending-emails')
  const previousText = button.innerText
  navigator.clipboard.writeText(emails)
  button.innerText = 'Emails Copied!'
  setTimeout(() => button.innerText = previousText, 1000)
}

async function copyPendingEmails() {
  const emails = document.getElementById('pending-emails').getAttribute('data-emails')
  const button = document.getElementById('copy-pending-emails')
  const previousText = button.innerText
  navigator.clipboard.writeText(emails)
  button.innerText = 'Emails Copied!'
  setTimeout(() => button.innerText = previousText, 1000)
}

</script>
