{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css?id=1">

{% include "common/site-nav.njk" %}
<main>

<section class="info-card controls">
<h1><img src="/static/icons/mountain-icon.svg">Explore Trips</h1>
<div class=view-types>
  <div class=filters>
    <label>
      <input
          hx-get="?view={{ view }}&beginnersOnly={{ 'false' if beginners_only else 'true' }}"
          hx-push-url=true
          hx-target="body"
          type=checkbox
          autocomplete=off
          {{ 'checked' if beginners_only }}
          >
      No experience needed
    </label>
  </div>
  <a
    class="action filter-option {{ 'selected' if view == 'tiles' }}"
    href="?view=tiles&beginnersOnly={{ beginners_only }}"
  >
    <img class=club-logo src="/static/icons/grid-icon.svg">
    <span>Tiles</span>
  </a>
  <a
    class="action filter-option {{ 'selected' if view == 'list' }}"
    href="?view=list&beginnersOnly={{ beginners_only }}"
  >
    <img class=club-logo src="/static/icons/stack-icon.svg">
    <span>List</span>
  </a>
  {% if is_opo %}
  <a class="action filter-option" href="/trip/search">
    <img width=18 height=18 class=club-logo src="/static/icons/magnifying-glass.svg">
    <span>Search</span>
  </a>
  {% endif %}
</div>
</section>

{% if view == 'tiles' %}
<section class=trips>
{% for trip in trips %}
  {% include "components/trip-card.njk" %}
{% endfor %}
</section>
{% else %}
<section class=info-card>
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
  <thead>
    <tr><th>Trip #<th>Trip<th>Club<th>Owner<th>Time
  </thead>
  <tbody>
  {% for trip in trips %}
    <tr>
    <td>{{trip.id}}
    <td><a href="/trip/{{trip.id}}">{{trip.title}}</a>
    <td>{{trip.club}}
    <td>{{trip.owner}}
    <td>{{trip.time_element | safe }}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</section>
{% endif%}
</main>
