{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css?id=1">

{% include "common/site-nav.njk" %}
<main>

<section class="info-card controls">
<h1><img src="/static/icons/mountain-icon.svg">Explore</h1>
<form
  class=filters
  hx-get="/all-tiles"
  hx-include="[name=beginner_friendly], [name=subclub], [name=search]"
  hx-trigger="change"
  hx-target="#trips"
>
  <div id=beginner-friendly-container>
    <label for=beginner-friendly>Beginner Friendly</label>
    <input id=beginner-friendly name=beginner_friendly type=checkbox />
  </div>
  <div id=subclub-container>
    <label for=subclub>Subclub</label>
    <select
      id=subclub
      name=subclub>
      <option value=-1>All clubs
      {% for club in clubs %}
        <option value="{{ club.id }}">{{ club.name }}
      {% endfor %}
    </select>
  </div>
  <div class=separator></div>
  <div id=search-container>
    <label for=search class=search-label>Search</label>
    <input
      id=search
      name=search
      type=text
      placeholder="Search trips..."
      hx-get="/all-tiles"
      hx-include="[name=beginner_friendly], [name=subclub], [name=search]"
      hx-trigger="keyup delay:500ms"
      hx-target="#trips"
    >
  </div>
</form>
</section>
{% include "trip/all-tiles.njk" %}
</main>
