{% include "common/site-head.njk" %}
<title>My Past Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css?id=2">

{% include "common/site-nav.njk" %}
<main>
<section class="info-card">
<nav class=my-trips-nav view-types>
    <ul>
        <li><a href="/my-trips"><img src="/static/icons/mountain-icon.svg">Upcoming Trips</a></li>
        <li><a href="/my-past-trips"><img src="/static/icons/trip-icon.svg">Past Trips</a></li>
    </ul>
</nav>
</section>

<section class="trips">
    {% for trip in trips %}
    <a href="/{% if trip.leader === 1 %}leader/{% endif %}trip/{{ trip.id }}" class=trip-card>
        <img class=club-logo src="{{ trip.iconPath }}">
        <header>Trip #{{ trip.id }}</header>
        <h2>{{ trip.title }}</h2>
        <div>{{ trip.time_element | safe }}</div>
        <div class="club-tag">{{ trip.club }}</div>
        <p>{{ trip.description }}</p>
    </a>
    {% endfor %}
</section>
</main>
