{% include "common/site-head.njk" %}
<title>My Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css?id=2">

{% include "common/site-nav.njk" %}

<main>

<section class="info-card controls">
<nav class="my-trips-nav view-types">
<ul>
  <li><a href="/my-trips"><img src="/static/icons/mountain-icon.svg">Upcoming Trips</a></li>
  <li><a href="/my-past-trips"><img src="/static/icons/trip-icon.svg">Past Trips</a></li>
</ul>
</nav>
</section>

{% if medcert_status == "expiring_soon" %}
<div class="message warn">
    Please note your medcert is set to expire soon. You will lose the
    ability to create trips if you do not update it before {{
    medcert_expiration_date }}
</div>
{% elif medcert_status == "expired" %}
<div class="message error">
    Please note your current medcert has expired as of {{
    medcert_expiration_date }}.
    You will lose the ability to create trips if you do not update it soon.
</div>
{% elif medcert_status == "not_found" %}
<section class="message error">
  <p>
  You are recognized as a leader but no medcert information could be found.
  Please go to <a href="/profile">your profile</a> and click "Edit profile" to add one.
  An updated med cert will soon be required to create and lead trips.
  <p>
  If you need help or believe you received this message in error, please reach out to OPO.
</section>
{% endif %}


<section class="trips">

  {% if can_create_trip %}
  <a href="/create-trip" class="trip-card new-trip">
    <h2>Create a Trip</h2>
    <img src="/static/icons/createtrip.svg">
  </a>
  {% endif %}

  {% for trip in trips %}
  <a href="/{% if trip.leader === 1 %}leader/{% endif %}trip/{{ trip.id }}" class="trip-card">
    <img class=club-logo src="{{ trip.iconPath }}">
    <header>Trip #{{ trip.id }}</header>
    <h2>{{ trip.title }}</h2>
    <div>{{ trip.time_element | safe }}</div>
    <div class="club-tag">{{ trip.club }}</div>
    <p>{{ trip.description }}</p>
  </a>
  {% endfor %}
</section>
</main>
