{% include "common/site-head.njk" %}
<title>My Profile - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/profile.css?id=1">

<nav class=site-nav>
<ul><li><a href="#">New Profile</a></li></ul>
</nav>

<main>
<form class="profile-card" hx-put="/new-user/{{ id }}">
<section>
<h1>Welcome to Trailhead!</h1>
<p>
Please fill out some info for your profile. You can go back and fill this out at any time in the
future from the "Profile" page.

<p>
Signing up as: {{ cas_id }}
</p>

<input type=hidden name=new_user value=true>
</section>
<section>
{% include "profile/edit-profile-form.njk" %}
</section>
<section>
<button class="action approve" type=submit>Save</button>
</section>
</form>
</main>
