{% include "common/site-head.njk" %}
<title>{{ title }} - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/trip.css?id=2">

{% include "common/site-nav.njk" %}
<main hx-target=this>
{% include "trip/signup-trip-card.njk" %}
</main>
