{% include "common/site-head.njk" %}
<title>Trip Requests - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/requests.css">

{% include "common/site-nav.njk" %}
<main>
<a href="/leader/trip/{{trip_id}}" class=top-link>Back to trip #{{trip_id}}</a>

{% if vehiclerequest_locked %}
  <section class=info-card>
    <h1>Vehicle Request</h1>
    <p>Cannot edit vehicle request after OPO has reviewed it.
  </section>
{% else %}
  {% include "requests/vehicle-request-editable.njk" %}
{% endif %}

{% if individual_gear_locked %}
  <section class=info-card>
    <h1>Individual Gear</h1>
    <p>Cannot edit individual gear request after OPO has reviewed it.
  </section>
{% else %}
  {% include "requests/individual-gear.njk" %}
{% endif %}

{% if group_gear_locked %}
  <section class=info-card>
    <h1>Group Gear</h1>
    <p>Cannot edit group gear request after OPO has reviewed it.
  </section>
{% else %}
  {% include "requests/group-gear.njk" %}
{% endif %}

{% if pcard_locked %}
  <section class=info-card>
    <h1>P-Card Request</h1>
    <p>Cannot edit P-Card gear request after OPO has reviewed it.
  </section>
{% else %}
  {% include "requests/pcard-request.njk" %}
{% endif %}


</main>

