{% include "common/site-head.njk" %}
<title>{{ name }}</title>
<link rel="stylesheet" href="/static/css/profile.css">

{% include "common/site-nav.njk" %}

<main>
<section class=info-card>
{% include waiver_fp %}
</section>
</main>
