{% include "common/site-head.njk" %}
<title>DOC Trailhead</title>
<style>
body {
  background-image: url('/static/images/background-no-brand.svg');
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3em;
  margin-left: 25px;
}

h2 {
  font-size: 1.2em;
}

hr {
  color: gray;
}

.login-card, .trip-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.25);
  margin: 25px;
  text-align: center;
}

.login-card {
  padding: 25px;
}

.login-card p {
  font-size: 1.1em;
}

.login-card img {
  width: 100px;
}

.login-card button {
  appearance: button;
  background-color: var(--approval-main-color);
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  padding: 0.7em;
}

.login-card button a, .login-card button a.visited {
  color: white;
  text-decoration: none;
}

.trip-card {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.trip-card img {
  height: 130px;
  opacity: 0.07;
  position: absolute;
  right: -25px;
  top: 0px;
  transform: rotate(28.1187deg);
  width: 130px;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row-reverse;
  }

  #login {
    align-self: center;
    flex: 2 1 0;
  }

  #up-next {
    flex: 3 1 0;
  }

  .trip-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trip-card > h2, .trip-card > div {
    align-self: center;
    flex: 1 1 0;
  }
}
</style>

<section id=login>
<div class=login-card>
<div><img src="/static/icons/tree-icon.svg" alt="Vector image of a few trees"></div>

<h2>Hello Traveler!</h2>

<p>
Welcome to Trailhead, the Dartmouth Outing Club and Outdoor Programs Office's digital platform.
Come and find some upcoming hikes to Balch Hill or visits to the Norwich farmer's market. On
Trailhead you can browse trips, sort by date, activity, or required experience, and create and
publish your own trips as a leader. See you in the out o’ doors!

<p>
<a href="{{ login_url }}"><button>Enter Trailhead via SSO</button></a>

{% if NODE_ENV === 'development' %}
<form method=POST action="/dev-login"><button>Login as developer</button></form>
{% endif %}

</div>
</section>

<section id=up-next>
<h1>Up Next</h1>
{% for trip in trips %}
<div class=trip-card>
  <img class=club-logo src="{{trip.icon_path}}">
  <h2>{{trip.title}}</h2>
  <hr/>
  <div>
    <h3>{{trip.location}}</h3>
    <p>{{trip.datetime_range | safe }}</p>
  </div>
</div>
{% endfor %}
</section>
