{% include "common/site-head.njk" %}
<title>Trips - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/all-trips.css?id=1">

{% include "common/site-nav.njk" %}
<main>

<section class="info-card controls">
<h1><img src="/static/icons/mountain-icon.svg">Explore Trips</h1>
<div class=view-types>
  <a class="action filter-option" href="/all-trips?view=tiles">
    <img class=control-icon src="/static/icons/grid-icon.svg">
    <span>Tiles</span>
  </a>
  <a class="action filter-option" href="/all-trips?view=list">
    <img class=control-icon src="/static/icons/stack-icon.svg">
    <span>List</span>
  </a>
  <a class="action filter-option selected" href="/trip/search">
    <img width=18 height=18 class=control-icon src="/static/icons/magnifying-glass.svg">
    <span>Search</span>
  </a>
</div>
</section>


<section class=info-card>
<h2>Search Terms</h2>
<form hx-post="/trip/search"
      hx-target="#search-results"
      hx-swap=outerHTML
      >
  <label>
    <span>Title:</span>
    <input type=search
           name=title
           autocomplete=off
     >
  </label>
  <div><button class="action approve search">Search</button></div>
</form>
<div class=trip-table-overflow-wrapper>
<h2>Results</h2>
<div id=search-results class=notice>Results will display here</div>
</div>
</section>
</main>


