{% include "common/site-head.njk" %}
<title>Manage Fleet - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/manage-fleet.css">

{% include "common/site-nav.njk" %}
<main>

<section class="add-vehicle info-card">
<h1>Add Vehicle</h1>
<form action="/opo/manage-fleet"
      method=post
      hx-boost=true
      hx-target=tbody
      hx-swap=innerHTML
      hx-push-url=true>
  <label for=name>Vehicle Name</label>
  <input type=text id=name name=name placeholder="Van E">
  <label for=type>Vehicle Type</label>
  <select id=type name=type><option>Van<option>Microbus<option>Truck</select>
  <button class="action approve">Add</button>
</form>
</section>

<section class="fleet info-card">
<h1>Vehicle Fleet</h1>
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
<thead><tr><th>Name<th>Type<th>
<tbody>
{% for vehicle in vehicles %}
  <tr>
    <td>{{ vehicle.name }}
    <td>{{ vehicle.type }}
    <td><button
        class="action deny"
        hx-confirm="Delete {{ vehicle.name }} from list?"
        hx-delete="/opo/manage-fleet/{{ vehicle.id }}"
        hx-target="closest tr"
        hx-swap="outerHTML swap:.7s"
      >Delete</button>
  </tr>
{% endfor %}
</table>
</div>
</section>

</main>

