{% include "common/site-head.njk" %}
<title>Trip Approvals - DOC Trailhead</title>
<link rel="stylesheet" href="/static/css/approvals.css">

{% include "common/site-nav.njk" %}
{% include "common/opo-nav.njk" %}

<main>

<section class="pending info-card">
<h1>Pending Trips</h1>
{% if future_trips.length === 0 %}
<div class=notice>All set for now</div>
{% else %}
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
  <thead>
    <tr><th>Trip #<th>Trip<th>Start Time<th>Subclub<th>Owner<th>Group Gear<th>Vehicles<th>P-Card</tr>
  </thead>
  <tbody>
  {% for trip in future_trips %}
    <tr>
    <td>{{trip.id}}
    <td><a href="/leader/trip/{{trip.id}}">{{trip.title}}</a>
    <td>{{trip.start_time_element}}
    <td>{{trip.club}}
    <td>{{trip.owner}}
    <td>{{trip.gg_status_element}}
    <td>{{trip.vr_status_element}}
    <td>{{trip.pc_status_element}}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

</section>

<section class="past info-card">
<h1>Reviewed & Past Trips</h1>
{% if future_trips.length === 0 %}
<div class=notice>All set for now</div>
{% else %}
<div class=trip-table-overflow-wrapper>
<table class=trip-table>
  <thead>
    <tr><th>Trip #<th>Trip<th>Start Time<th>Subclub<th>Owner<th>Group Gear<th>Vehicles<th>P-Card</tr>
  </thead>
  <tbody>
  {% for trip in past_trips %}
    <tr>
    <td>{{trip.id}}
    <td><a href="/leader/trip/{{trip.id}}">{{trip.title}}</a>
    <td>{{trip.start_time_element}}
    <td>{{trip.club}}
    <td>{{trip.owner}}
    <td>{{trip.gg_status_element}}
    <td>{{trip.vr_status_element}}
    <td>{{trip.pc_status_element}}
    </tr>
  {% endfor %}
  <tbody>
</table>
</div>
{% endif %}
</section>

</main>

