<div>
  <div class="warn-message">
  You do not have any med certs saved. Please make sure you have a valid med cert before requesting club leadership.
  </div>
  <button class="action deny" hx-get="/profile/{{userId}}?card=true">Cancel</button>
</div>
