<div class="profile-card" hx-target=this hx-swap=outerHTML>
<section class="profile-overview">
  <div class=profile-photo></div>
  <div class=profile-name>
    <h1>{{ name }}</h1>
    <div class=email-row><img src="/static/icons/email-icon.svg">{{ email }}</div>
  </div>
</section>
<section>
  <dl>
    <dt>Pronouns<dd>{{ pronoun }}
    <dt>Phone #<dd>{{ phone }}
    <dt>DASH<dd>{{ dash_number }}
    <dt>Clothing Size<dd>{{ clothe_size }}
    <dt>Shoe Size<dd>{{ shoe_size }}
    <dt>Height<dd>{{ height }}
    <dt>Allergies/Dietary Restrictions<dd>{{ allergies_dietary_restrictions }}
    <dt>Medical Conditions<dd>{{ medical_conditions }}
  </dl>
</section>
<section>
  <dl>
    <dt>Driver Certifications<dd>{{ driver_certifications }}
    <dt>Leader For<dd>{{ leader_for }}
  </dl>
  {% if not hide_controls %}
  <div hx-swap=innerHTML hx-target="closest section" class=button-row>
    <button class="action edit" hx-get="/profile/{{ id }}/driver-cert">
      {{ 'Edit' if is_opo == true else 'Request' }} Driver Cert
    </button>
    <button class="action edit" hx-get="/profile/{{ id }}/club-leadership">
      {{ 'Edit' if is_opo == true else 'Request' }} Club Leadership
    </button>
  </div>
  {% endif %}
</section>
{% if not hide_controls %}
<section>
  <div class=button-row>
    {% if is_self == true %}
    <form method=post action="/logout"><button class="action deny">Logout</button></form>
    {% endif %}
    <button class="action edit" hx-get="/profile/{{ id }}/edit-profile">Edit profile</button>
  </div>
</section>
{% endif %}
</div>
