<form class="profile-card"
      hx-put="/profile/{{ id }}"
      hx-target=this
      hx-swap=outerHTML
      hx-push-url=false
>
<section class=profile-overview>
  <div class=profile-photo></div>
  <div class=profile-name>
    <input placeholder="Full Name" type=text name=name value="{{ name }}" required>
    <input placeholder="Email" type=email name=email value="{{ email }}" required class=email-row>
  </div>
</section>
<section>
{% set noNameNorEmail = true %}
{% include "profile/edit-profile-form.njk" %}
</section>
<section>
<div class=button-row>
  <button class="action deny" hx-get="/profile/{{ id }}/cancel-edit">Cancel</button>
  <button class="action approve" type=submit>Save</button>
</div>
</section>
</form>
